.login{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.login-form{
    padding: 50px 24px;
    box-shadow: 0px 0px 15px -4px #888888;
    width: 500px;
    border-radius: 4px;
}

.login-form__title{
    color: #2d2d2d;
    text-align: center;
}


.login-form__item{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    
}

.login-form__label{
    font-size: 18px;
    color: #2d2d2d;
    font-weight: 600;
    margin-bottom: 12px;
}

.login-form__inp{
    height: 40px;
    padding: 0 8px;
    border-radius: 4px;
    font-size: 18px;
    color: #2d2d2d;
}

.err-msg{
    color: red;
    font-size: 16px;
}

.login-form__button{
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    background-color: #9e2c2c;
    border: none;
    cursor: pointer;
}

