.search{
    position: relative;
}

.search__inp{
    height: 40px;
    width: 100%;
    padding: 0 8px;
    border-radius: 4px;
    font-size: 18px;
    color: #2d2d2d;
}

.search__lsit{
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 1;
    background-color: #fff;
}

.search__lsit-item{
    padding: 12px;
    font-size: 18px;
    color: #2d2d2d;
    font-weight: 500;
    border-bottom: 1px solid #9e2c2c;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search__lsit-item:hover{
    background-color: #9e2c2c;
    color: #fff;
}